DATABASE_URL="postgresql://docker:docker@127.0.0.1:5484/payments"
BROKER_URL="amqp://127.0.0.1:5672"

# Probabilidade (0 a 1) de o gateway falso aprovar uma cobrança
PAYMENT_APPROVAL_RATE=0.8

# OTEL
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT="http://127.0.0.1:4318"
OTEL_SERVICE_NAME=app-payments
OTEL_NODE_RESOURCE_DETECTORS="env,host,os"
OTEL_NODE_ENABLED_INSTRUMENTATIONS="http,fastify,pg,amqplib"
